*{
  box-sizing: border-box;
  background-image: url('images/marvel.jpg');
  font-family: 'Marvel', sans-serif;
  color: beige;
  text-align: center;
  box-sizing: border-box;
}
h1, h4 {
  margin-right: 30px;
  margin-top: auto;
  grid-column: span 2;
  }

  h1 {
    font-size: 80px;
  }
   h4{
    font-size: 40px;
  } 
  
  

  .second {
      display: grid;
      height: 50vh;
      margin: 50px 10px 20px 30px;
      font-family: Helvetica;
      grid-template-columns: 1fr 1fr;
      
      
    }
 

  .grid {
    display: grid;
    background-color:rgb(212, 49, 8);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 10px;
    margin-left:500px; 
    margin-right:500px;
    border:rgb(160, 12, 12) solid 7px;
    height: 200px;
    width: 200px;
  
    
  }
  
  .card {
    background-image: linear-gradient(red,white);
  }

  

  button{
    color: red;
    background-color: rgb(234, 226, 226);
    border: thick double rgb(230, 28, 6);
    margin-top: 50px;
    font-size: 50px;
 }
 img{
  width: 200px;
  height: 250px;
  opacity:0;
  transition: 0.3s all ease;
 }

 .choosen{
  background-color: antiquewhite;
 }


 .card.clicked {
  background-color: orange;
}

.card.checked {
  background-color: lightgreen;
}

.card.clicked img,
.card.checked img {
  opacity: 1;
}

.card.shake {
  background-color: #f15f5f;
  animation: shake 0.5s;
}