*{
  box-sizing: border-box;
  background-image: url('images/marvel.jpg');
  background-repeat:repeat-x;
  background-color: rgb(234, 1, 1);
  font-family: 'Marvel', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  box-sizing: border-box;
}
h1, h4 {
  grid-column: span 2;
  font-weight: bold;
  }

  h1 {
    font-size: 100px;
    margin-top: 420px;
  }
  h4{
    font-size: 40px;
    /* margin-top: 50px; */
    
  } 
  
  h2 {
margin-top: 50px;
font-size: 100px;
  }
h3{
  margin-top: 400px;
  font-size: 25px;
}
  .second {
      display: grid;
      height: 50vh;
      margin: 30px 0 20px 0;
      font-family: Helvetica;
      grid-template-columns: 1fr 1fr;
      
      
    }
 

  .grid {
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 3px;
    /* margin-left:500px; 
    margin-right:500px; */
    border:rgb(160, 12, 12) solid 7px;
   
  
    
  }
  
  .card {
    background-image: linear-gradient(red,white);
    max-height: 195px;
    max-width: 175px;
  }

  

  button{
    color: rgb(255, 255, 255);
    background-color: rgb(251, 251, 251);
    border: thick double rgb(247, 246, 246);
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
 }
 img{
  width: 175px;
  height: 195px;
  opacity:0;
  transition: 0.3s all ease;
 }




.card.checked {
  background-color: lightgreen;
}

.card.clicked img,
.card.checked img {
  opacity: 1;
}
