*{
  box-sizing: border-box;
  background-image: url('images/marvel.jpg');
  background-repeat:repeat-x;
  background-color: rgb(234, 1, 1);
  font-family: 'Marvel', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  box-sizing: border-box;
}
h1, h4 {
  grid-column: span 2;
  font-weight: bold;
  }

  h1 {
    font-size: 100px;
    margin-top: 420px;
  }
  h4{
    font-size: 30px;
    margin-top: 50px; 
    
  } 
  
  h2 {
margin-top: 50px;
font-size: 100px;
  }
h3{
  margin-top: 400px;
  font-size: 25px;
}
  .second {
      display: grid;
      height: 50vh;
      margin: 30px 0 20px 0;
      font-family: Helvetica;
      grid-template-columns: 1fr 1fr;
      
      
    }
 

  .grid {
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 3px;
    /* margin-left:500px; 
    margin-right:500px; */
    
   
  
    
  }
  
  .card {
    background-image: linear-gradient(red,white);
    max-height: 195px;
    max-width: 175px;
  }
.card.dark{
  background-color: rgb(87, 86, 86);
}
  

  .play{
    color: rgb(255, 255, 255);
    background-color: rgb(251, 251, 251);
    border: thick double rgb(247, 246, 246);
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;

 }
 img{
  width: 175px;
  height: 195px;
  opacity:0;
  transition: 0.3s all ease;
 }




.card.checked {
  background-color: lightgreen;
}

.card.clicked img,
.card.checked img {
  opacity: 1;
}



.mode{
  font-size: x-small;
  color: black;
  border-radius: 60%;
}

button:hover {
  background-color: aliceblue;
  color:rgb(79, 7, 7);
  transform: scale(1.9)
}

.dark{
  background-color: rgb(34, 3, 3);
  color: grey;
}

/* .transition-fade{
  opacity: 1;
  transition: 600ms;
  transform: translateX(0);
  transform-origin: right;
}

html.is-animating .transition-fade{
  opacity: 0;
  transform: translateX(100%);
}
html.is-leaving .transition-fade{
  opacity: 0;
  transform: translateX(0);
} */